<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.totetero.test.librarytest">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".LibraryTestActivity">
        </activity>
    </application>

</manifest>